<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="tests">
 <listeners> 
        <listener class-name="techstats.e2eFramework.AutoListeners"/>
          </listeners>

	<test name="GreenKart">
	
		<classes>
			<class name="techstats.SaleTest.BasketTest"> </class>
			<class name="techstats.SaleTest.SaleTransactionTest"> </class>
			
		</classes>

	</test>
	
</suite> 